* {
    margin: 0px;
    padding: 0px;
}

#text {
    width: 300px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(218, 218, 218);

}

#bot {
    width: 300px;
    height: 60px !important;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: #1c0036;
}

#bot {
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
}

#bot:hover {
    background-color: #360069;
}